:root {
    --red: rgba(189,65,65);
    --border-input: #414141;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    background-color: rgba(255,255,255, 0.6);
    justify-content: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul.nav-list {
    display: flex;
    /*text-decoration: none;*/
    list-style: none;
    margin: 0 6%;
}

header nav ul.nav-list li {
    margin: 0 24px;
    text-decoration: none;
}

header nav ul.nav-list li a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: 150ms ease-in-out;
    opacity: 0.8;
}

header nav ul.nav-list li a:hover {
    color: black;
    opacity: 1;
}


section.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.subtitle {
    color: var(--red);
    font-size: 3.5em
}

section.topic article {
    width: 60%;
}


section.topic article p{
    font-size: 1.2em
}


section.topic img,
section.topic .graphic-wrapper,
.pitch-wrapper {
    width: 35%;
}

section.topic .pitch-wrapper {
    display: flex;
    justify-content: center;
}


span.line {
    width: 100vw;
    height: 4px;
    background-color: rgba(255,136,136, 0.8);
    display: flex;
    margin: 36px 0;
}

